* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/***************************
DEBUG RULES
***************************/

/* .debug .container {
    border: 4px dashed black;
    background-color: aqua;
} */

/* .debug .screen__buttons {
    border: 3px solid purple;
    min-height: 20px;
    margin: 0 auto;
} */

/* .debug .section__users {
    border: 3px solid red;
    margin: 0 auto;
    padding: 90px 80px 10px 80px;
} */

/* .debug .section__user__utilities {
    border: 3px solid blue;
    margin: 0 auto;
} */

.debug .user__row {
    /* border: 3px dotted green;
    margin: 0 auto; */
}

/***************************
DEBUG RULES
***************************/

/***************************
section1 rules
***************************/

.container {
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
}

.section__users {
    position: relative;
    background-color: inherit;
    padding: 80px 90px 30px 90px;
}

.screen__features {
    text-align: end;
    position: absolute;
    top: 5px;
    right: 0;
    color: white;
}

.speaker {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.329);
}

.fullscreen {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.329);
}

.user__row {
    display: flex;
    flex-wrap: wrap;
}

.user__col {
    flex-basis: calc(100% * (1 / 7));
    padding: 5px 2.5px;
    position: relative;
    font-size: 14px;
}

.user__name {
    /* border: 2px dotted black; */
    position: absolute;
    color: white;
    left: 2;
    bottom: 8px;
    background-color: rgba(128, 128, 128, 0.329);
}

/***************************
section2 rules
***************************/

.section__user__utilities {
    font-size: 16px;
    color: white;
    background-color: #222222;
}

.utilities__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.row__1 {
    padding: 10px;
}

.row__2 {
    padding: 10px;
}

.utilities__col__1 {
    /* flex-basis: calc(100% * (3 / 12)); */
    text-align: center;
}

.utilities__col__2 {
    /* flex-basis: calc(100% * (6 / 12)); */
    text-align: center;
}

.utilities__col__3 {
    /* flex-basis: calc(100% * (3 / 12)); */
}

.fa-solid {
    font-size: 22px;
}

#green {
    color: green;
}

#red{
    border: 22px solid #4A4A4A;
    color: red;
    background-color: #4A4A4A;
}


